<div class="form-control">
  <%= f.label :role, class: 'label' %>
  <%= f.select :role, User::ROLES.map { |role| [t(role), role] }, {}, class: 'base-select' %>
  <label class="label">
    <span class="label-text-alt leading-relaxed">
      <span class="block"><b><%= t('admin') %></b> &mdash; <%= t('role_admin_description') %></span>
      <span class="block"><b><%= t('editor') %></b> &mdash; <%= t('role_editor_description') %></span>
      <span class="block"><b><%= t('member') %></b> &mdash; <%= t('role_member_description') %></span>
      <span class="block"><b><%= t('agent') %></b> &mdash; <%= t('role_agent_description') %></span>
      <span class="block"><b><%= t('viewer') %></b> &mdash; <%= t('role_viewer_description') %></span>
    </span>
  </label>
</div>
